{
  "presets": [
    "stage-1",
    "react",
    "flow",
    "minify"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": [
        ["es2015"],
        "react"
      ]
    }
  }
}
